{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<title>KidsAcademy | {% block title %}{{block.super}}{% endblock title %}</title>
	{% include 'inc/head.html' %}
</head>


<body id="scroll-top">

	<!-- Preloader start here -->
	<div id="loader-wrapper">
		<div id="loader"></div>
		<div class="loader-section section-left"></div>
		<div class="loader-section section-right"></div>
	</div>
	<!-- Preloader end here -->


	<!-- mobile menu start here -->
	{% include 'inc/mobile_menu.html' %}
	<!-- mobile menu ending here -->

	<!-- header here -->
	{% include 'inc/header.html' %}
	<!-- header End here -->


	{% block content %}
	{% endblock content %}


	<!-- Subscribe Start here -->
	{% include 'inc/subscribe.html' %}
	<!-- Subscribe End here -->


	<!-- Footer Start here -->
	{% include 'inc/footer.html' %}
	<!-- Footer End here -->


	<!-- Scripts Start here -->
	{% include 'inc/scripts.html' %}
	<!-- Scripts End here -->

</body>

</html>