{% load static %}
	<section class="about section-notch">
		<div class="overlay padding-120">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div class="about-image">
							<img src="{% static 'assets/images/about/about.png' %}" alt="about image" class="img-responsive">
						</div>
					</div>
					<div class="col-lg-6">
						<div class="about-content">
							<h3>About Our KidsAcademy</h3>
							<p>Enthusiasticay diseminate competitive oportunitie through transparent an actions
								Compelngly seize viral schemas through intermandated creative is adiea sources.
								Enthusiasticay plagiarize clientcentered relationship for the covalent experiences.
								Distinctively architect 24/365 service for wireless is ebusiness ahosfluorescently
								Efficiently comunicate coperative methods of empowerment awesome athrough Monotonectaly
								myocardinate cross and functional niche markets and an functional.</p>
							<ul>
								<li><a href="#" class="button-default">Read More</a></li>
								<li><a href="#" class="button-default">Buy Now</a></li>
							</ul>
						</div><!-- about content -->
					</div>
				</div><!-- row -->
			</div><!-- container -->
		</div><!-- overlay -->
	</section>