{% load static %}
	<section class="facility padding-120">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-sm-6 col-xs-12">
					<div class="facility-item">
						<span class="icon flaticon-symbols"></span>
						<h4>Active Learning</h4>
						<p>Uniquely productivate real time collaboration idea-sharing after awesome quality vectors
							after</p>
					</div><!-- facility item -->
				</div>
				<div class="col-lg-3 col-sm-6 col-xs-12">
					<div class="facility-item">
						<span class="icon flaticon-avatar"></span>
						<h4>Expert Teachers</h4>
						<p>Uniquely productivate real time collaboration idea-sharing after awesome quality vectors
							after</p>
					</div><!-- facility item -->
				</div>
				<div class="col-lg-3 col-sm-6 col-xs-12">
					<div class="facility-item">
						<span class="icon flaticon-world"></span>
						<h4>Strategi Location</h4>
						<p>Uniquely productivate real time collaboration idea-sharing after awesome quality vectors
							after</p>
					</div><!-- facility item -->
				</div>
				<div class="col-lg-3 col-sm-6 col-xs-12">
					<div class="facility-item">
						<span class="icon flaticon-line-chart"></span>
						<h4>Full Day Programs</h4>
						<p>Uniquely productivate real time collaboration idea-sharing after awesome quality vectors
							after</p>
					</div><!-- facility item -->
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</section>