{% load static %}
	<section class="teachers section-notch">
		<div class="overlay padding-120">
			<div class="container">
				<div class="section-header bg">
					<h3>Meet Our Teachers</h3>
					<p>Rapidiously expedite granular imperatives before economically sound web services. Credibly
						actualize pandemic strategic themeplatform.</p>
				</div>
				<div class="row">
					<div class="col-lg-6 col-xs-12">
						<div class="teacher-item">
							<div class="teacher-image">
								<img src="{% static 'assets/images/teachers/teacher_01.jpg' %}" alt="teacher image" class="img-responsive">
							</div>
							<div class="teacher-content">
								<h4>Broklyn Doel <span>Sains Teacher</span></h4>
								<ul>
									<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
								</ul>
								<p>Distinctively initiate and sustainable synergy vaan tactical opportunities. awesome
									theme ollaboratively.</p>
								<a href="teacher-details.html">View Portfolio</a>
							</div>
						</div><!-- teacher item -->
					</div>
					<div class="col-lg-6 col-xs-12">
						<div class="teacher-item">
							<div class="teacher-image">
								<img src="{% static 'assets/images/teachers/teacher_02.jpg' %}" alt="teacher image" class="img-responsive">
							</div>
							<div class="teacher-content">
								<h4>Alex Jhonson <span>Art Teacher</span></h4>
								<ul>
									<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
								</ul>
								<p>Distinctively initiate and sustainable synergy vaan tactical opportunities. awesome
									theme ollaboratively.</p>
								<a href="teacher-details.html">View Portfolio</a>
							</div>
						</div><!-- teacher item -->
					</div>
					<div class="col-lg-6 col-xs-12">
						<div class="teacher-item">
							<div class="teacher-image">
								<img src="{% static 'assets/images/teachers/teacher_03.jpg' %}" alt="teacher image" class="img-responsive">
							</div>
							<div class="teacher-content">
								<h4>Robot Jhonson <span>Math Teacher</span></h4>
								<ul>
									<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
								</ul>
								<p>Distinctively initiate and sustainable synergy vaan tactical opportunities. awesome
									theme ollaboratively.</p>
								<a href="teacher-details.html">View Portfolio</a>
							</div>
						</div><!-- teacher item -->
					</div>
					<div class="col-lg-6 col-xs-12">
						<div class="teacher-item">
							<div class="teacher-image">
								<img src="{% static 'assets/images/teachers/teacher_04.jpg' %}" alt="teacher image" class="img-responsive">
							</div>
							<div class="teacher-content">
								<h4>Janaton Doe <span>English Teacher</span></h4>
								<ul>
									<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
								</ul>
								<p>Distinctively initiate and sustainable synergy vaan tactical opportunities. awesome
									theme ollaboratively.</p>
								<a href="teacher-details.html">View Portfolio</a>
							</div>
						</div><!-- teacher item -->
					</div>
				</div><!-- row -->
			</div><!-- container -->
		</div><!-- overlay -->
	</section>