{% load static %}
	<!-- jquery -->
	<script src="{% static 'assets/js/jquery-1.12.4.min.js' %}"></script>

	<!-- Bootstrap -->
	<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>

	<!-- Isotope -->
	<script src="{% static 'assets/js/isotope.min.js' %}"></script>

	<!-- lightcase -->
	<script src="{% static 'assets/js/lightcase.js' %}"></script>

	<!-- counterup -->
	<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
	<script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>

	<!-- Swiper -->
	<script src="{% static 'assets/js/swiper.jquery.min.js' %}"></script>

	<!--progress-->
	<script src="{% static 'assets/js/circle-progress.min.js' %}"></script>

	<!--velocity-->
	<script src="{% static 'assets/js/velocity.min.js' %}"></script>

	<!--quick-view-->
	<script src="{% static 'assets/js/quick-view.js' %}"></script>

	<!--nstSlider-->
	<script src="{% static 'assets/js/jquery.nstSlider.js' %}"></script>

	<!--flexslider-->
	<script src="{% static 'assets/js/flexslider-min.js' %}"></script>

	<!--easing-->
	<script src="{% static 'assets/js/jquery.easing.min.js' %}"></script>

	<!--coundown-->
	<script src="{% static 'assets/js/coundown.js' %}"></script>

	<!-- custom -->
	<script src="{% static 'assets/js/custom.js' %}"></script>